<!-- <p>meal-list-line-item works!</p> -->

<a href="{{mealProperty.link}}">
    <div id="mealListGridContainer" class="secondary-color">
        <div id = 'recipe'>
            <div class = "bold subheader">{{mealProperty["recipe"]}}</div>
        </div>
        <div id = 'calories'>
            Calories:{{mealProperty["calories"]}}
        </div>
        <div id = 'carbs'>
            Carbs:{{mealProperty["carbs"]}}
        </div>
        <div id = 'protien'>
            Protien:{{mealProperty["protien"]}}
        </div>
        <div id = 'fat'>
            Fat:{{mealProperty["fat"]}}
        </div>
    </div>
</a>