<!-- <p>meal-list-line-item works!</p> -->

<a href="{{mealProperty.link}}">
    <div id="mealListGridContainer" class="clickable-area">
        <div id = 'recipe'>
            <div class = "bold subheader">{{mealProperty["recipe"]}}</div>
        </div>
        <div id = 'calories'>
            Calories:{{mealProperty["calories"]}}
        </div>
        <div id = 'carbs'>
            Carbs:{{mealProperty["carbs"]}}
        </div>
        <div id = 'protein'>
            protein:{{mealProperty["protein"]}}
        </div>
        <div id = 'fat'>
            Fat:{{mealProperty["fat"]}}
        </div>
        <img id="image" [src]="mealProperty['image']" />
    </div>
</a>