#recipe{
    grid-area:recipe;
    font:24px;
    font:bold;
}
#calories{
    grid-area:calories;
}
#carbs{
    grid-area:carbs;
}
#protein{
    grid-area:protein;
}
#fat{
    grid-area:fat;
}
#image{
    grid-area:image;
    display:block;
    height:100%;
    width:auto;
}
#mealListGridContainer{
    cursor: pointer;
    margin-bottom: 20px;
    padding:10px;
    display: grid;
    height:200px;
    width:100%;
    max-width:1440px;
    border-bottom: 1px solid var(--primary-border-color);
    margin:auto;
    grid-gap: auto;
    grid-template-columns: 39% repeat(4,auto);
    grid-template-rows: max-content auto;
    grid-template-areas: "recipe calories carbs protein fat" "image . . . .";
    
}
@media (max-width:1000px){
    
    #mealListGridContainer{
        grid-template-columns: 49% 9% 39%;
        grid-template-rows: max-content auto;
        grid-template-areas: 
        "recipe . calories"
        "recipe . carbs"
        "image image protein"
        "image image fat";
    }

}
.subheader{
    font-size:1.5em;
}