#username{
    display:block;
    width:30%;
    height:50px;
    font-size:50px;
    margin-bottom: 5px;
}
#password{
    display:block;
    width:30%;
    height:50px;
    font-size:50px;
}

#loginContainer{
    width:80%;
    padding-left:30%;
    padding-right:30%;
    text-align: center;
}
.button{
    border-radius: 12px;
    background-color: lightblue;
    width:130px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom:10px;
    cursor: pointer;
}
#login{
    margin-top: 10px;
}
#loginContainer *{
    margin-left: auto;
    margin-right: auto;
}
.loginIcon{
    height:280x;
    width:300px;
}
*::placeholder{
    font-display: arial;
    font-size: 18px;
}
