#meal{
    grid-area: meal;
    width:100%;
}
#stats{
    grid-area: stats;
    width:98%;
    display: block;
}

#dailyContainer{
    display: grid;
    width:98%;
    grid-template-columns: 530px auto;
    grid-template-rows: 100%;
    grid-template-areas: "meal stats";
    padding:10px;
    border:1px solid grey;
}